@import "../../../styles/colors.module.scss";

.main {
    background-image: linear-gradient(to right, #141414, $darkGray);
    margin: 0;
    padding: 0;
}

.container {
  color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 37px 55px;
}

.titulo{
    font-size: 64px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 20px;
    color: $lightGreen;
}
.descricao{
    font-size: 20px;
    margin-bottom: 20px;
}
.img{
    width: 600px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.buttonSolicitar{
    background-color: $lightGreen;
    color: black;
    border: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
    &:hover{
        background-color: $darkGreen;
    }
}

@media (max-width: 1010px){
    .container{
        flex-direction: column-reverse;
    }
    .img{
        width: 100%;
        margin-bottom: 20px;
    }
    .buttonSolicitar{
        margin-bottom: 50px;
        margin-right: 0;
    }
}

@media (max-width: 575px){
    .titulo{
        font-size: 40px;
        line-height: 40px;
    }
    .descricao{
        font-size: 16px;
    }
    .buttonSolicitar{
        font-size: 16px;
        padding: 5px 10px;
        align-items: center;
    }
}

@media(max-width: 450px){
    .titulo{
        font-size: 30px;
        line-height: 30px;
    }
    .descricao{
        font-size: 14px;
    }
    .buttonSolicitar{
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 360px){
    .titulo{
        font-size: 24px;
        line-height: 24px;
    }
    .descricao{
        font-size: 12px;
    }
    .buttonSolicitar{
        font-size: 12px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
}