.main {
    background-color: #0C2141;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 1026px;
    height: 650px;

    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    gap: 50px;
}

.titulo {
    font-weight: 800;
    font-size: 48px;
    color: #0C2141;
    margin-bottom: -40px;
}

.subtitulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 600;
    font-size: 28px;
    color: #000;

    margin-top: 10px;
    margin-bottom: 5px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 500;
    font-size: 20px;
    color: #000;

    margin-bottom: 3px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 250px;
    height: 30px;

    background: #FFFFFF;
    border: 2px solid #0C2141;
    border-radius: 15px;

    & > option {
        border: none;
        background: none;
        font-size: 15px;
        font-weight: 500;
        color: #0C2141;
        outline: none;
    }
}

.select:focus {
    outline: none;
}