.main {
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

.subtitulo {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.containerBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-top: 50px;
    gap: 50px;
}

.cima {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #0053CC;
    width: 100%;
    height: 70px;

    border-radius: 50px 50px 0px 0px;

    & .tituloBtn, & .icone {
        color: #FFFFFF;
        font-weight: 500;
    }
}

.baixo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    & .subtituloBtn {
        color: #0053CC;
        font-weight: 500;
    }
}

.agendar, .agendamentos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    width: 450px;
    height: 140px;

    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.agendar:hover, .agendamentos:hover {
    cursor: pointer;
    transform: scale(1.01);

    transition: 0.5s;
}

@media (max-width: 970px) {
    .containerBtns {
        gap: 20px;
    }

    .agendar, .agendamentos {
        width: 350px;
    }

    .titulo {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .container {
        margin-top: 60px;
    }

    .containerBtns {
        flex-direction: column;
        gap: 20px;
    }

    .agendar, .agendamentos {
        width: 360px;
    }

    .titulo {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .containerBtns {
        flex-direction: column;
        gap: 20px;
    }

    .agendar, .agendamentos {
        width: 320px;
    }

    .tituloBtn {
        font-size: 24px;
    }

    .subtituloBtn {
        text-align: center;
    }
}