.background {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 1026px;
    height: 650px;

    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.titulo {
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    margin-top: -50px;
    text-align: center;
}

.subtitulo {
    font-weight: 500;
    font-size: 19px;
    line-height: 36px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnCliente, .btnProfissional, .btnEntrar {
    width: 348px;
    height: 63px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
    border: none;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    text-align: center;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}